*{
    margin:0%;
    padding:0%;
}

body{
     /* background-image: url("bg.jpg"); */
    /* background-size: 100%;   */
    /* background-color: black; */
    background-color: #799bf17d;
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
    font-family: 'Mulish',sans-serif;
}
nav {
    background-color: black;
    height: 100px;
}
nav img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border: 10px solid gold;
    border-radius: 300px;
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 1%;
    height: 150px;
}
nav h1{
    font-size: 40px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 300px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
nav ul a{
    color: aliceblue;
    text-decoration: none;
    padding-right: 0px;
    padding-top: 10px;
    font-size: 20px; */
 } 
/* nav h1:hover{
    border-radius: 3px;
    margin-top: 2px; 
    font-size: 60px;

} */
ul button{
    width: 100px;
    height: 55px;
    background-color: rgba(202, 12, 12, 0.677);
    color: white;
    font-size: 25px;
    border: none;
    border-radius:50px;
    margin-top: 10px;
    margin-left: 30px;
    /* padding:  5px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
ul button a{
    width: 100px;
    height: 55px;
    /* background-color: rgb(202, 12, 12); */
    color: white;
    font-size: 25px;
    border: none;
    border-radius:50px;
    margin-top: 40px;
    /* margin-left: 30px; */
    /* padding:  5px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
 ul button:hover{
    border: 1px solid whitesmoke;
    background-color: rgb(77, 112, 7);
    cursor: pointer;
    font-size:30px;
} 

ul{
    display: flex;
    color: aliceblue;
    list-style: none;
    margin-top: 30px ;
}
ul li{
    margin-top: 22px;
}
ul li a{
    margin-inline: 30px;
    font-size: 27px;
    /* font-color:white; */
    color: rgb(97, 204, 204);
    /* border: 2px solid rgb(231, 27, 27); */
    background-color: black;
    /* border-radius: 10px; */
    text-decoration: none;
    padding:5px 5px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul li a:hover{
    
    cursor: pointer;
    color: rgba(31, 113, 189, 0.516);
    font-size: 26px;

}

.cart{
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 10px;
    margin-left: 10px;

}
.fac-col{
    flex-basis: 20%;
    background:rgba(177, 222, 222, 0.677);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.5s;   
    height: 250px;
    margin-top: 40px;
    outline: 0.20px solid #160e0e;
}
.fac-col button{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.fac-col button:hover{
    background-color: #20eb7f;
    color: #06062d;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: 20px;
}
a{
    text-decoration: none;
    color:black;
}
.fac-col img{
    height: 130px;
    width: 230px;
}
.fac-col:hover{
    box-shadow: 0 0 30px 0px rgba(0, 0, 0,0.2);
    scale: 1.05;
    background-color: rgb(100, 179, 216);
}
.icon {
    background-image: url(header-about-univ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav .nav-links a{
    border:3px solid rgb(4, 255, 0);
    border-radius: 10px;
    background-color: rgb(255, 30, 0);
    color: white;
    padding: 10px 10px;
    cursor: pointer;
}
/* nav{
    background-color: rgb(51, 51, 252);
    color: white;
} */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }